.Mortgage-Rate-Genie {
  font-family: "Rotoco", sans-serif;
  width: 2200px;
  font-size: xx-large;
  margin: 32px auto;
  background: #fff;
  box-shadow: 0 12px 50px -11px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #14213d;
  overflow: hidden;
}

.Mortgage-Rate-Genie,
.Mortgage-Rate-Genie * {
  box-sizing: border-box;
  font-size: larger;  
}

.Mortgage-Rate-Genie .top {
  background: #14213d;
  color: #fff;
  padding: 44px;
  margin-bottom: 25px;
  font-size:large; 
}

.Mortgage-Rate-Genie .top h2 {
  margin-top: 24px;
  font-size: 50px;  
}

.Mortgage-Rate-Genie form {
  display: flex;
  flex-wrap: wrap;
  font-size: medium; 
  gap: 12px;
  justify-content: space-between;
  margin-bottom: 18px;
}

.Mortgage-Rate-Genie .title {
  margin-bottom: 30px;
}

.Mortgage-Rate-Genie form input {
  font-size: 30px;
  padding: 8px 24px;
  width: 100%;
  margin-bottom: 35px;
}

.botton {
  background-color: red;
  font-size: x-large;
  color: white;
  border: none;
  padding: 8px 32px;
  border-radius: 24px;
  font-size: 30px;
  font-weight: 2000;
  display: inline-flexbox;
  cursor: pointer;
  margin-bottom: 28px 0;
}
.input-container,
.result-container {
  font-size: large;
  width: 75%;
}

img {
  max-width: 200%;
  height: auto;
  float:left;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.bottom {
  background-color: #f2f2f2; /* sets the background color */
  padding: 20px; /* adds some padding to the element */
}

.bottom h3 {
  font-size: 32px; /* sets the font size of the heading */
  color: #333; /* sets the font color of the heading */
  text-align: center; /* centers the heading text */
}

@media (max-width: 2000px) {
  .Mortgage-Rate-Calculator {
  width: 200%;
  max-width: 200px;
  background-color: red;
  font-size: x-large;
  color: white;
  border: none;
 }
  
  .Mortgage-Rate-Genie form {
  flex-direction: row;
  gap: 20px;

  }
  }